// Footer
footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          h3 Location
          p
            | 1234 Fake Street
            br
            | Beverly Hills, CA 90210
        .footer-col.col-md-4
          h3 Around the Web
          ul.list-inline
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-facebook
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-google-plus
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-twitter
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-linkedin
            li
              a.btn-social.btn-outline(href='#')
                i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          h3 About Us
          p
            | This project is open source and free to use for commercial or non-commercial purposes.
  .footer-below
    .container
      .row
        .col-lg-12
          | Copyright © Your Website 2016
    .container
      .row
        .col-lg-12
          small v{{configuration.version}}