// Navigation
nav.navbar.navbar-default.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home')
          i.fa.fa-cloud
          span &nbsp;
          span {{configuration.title}}
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li(ui-sref-active="active")
          a(ui-sref='home') Home
        li(ui-sref-active="active")
          a(ui-sref='services') Services
        li(ui-sref-active="active")
          a(ui-sref='contact') Contact
    // /.navbar-collapse
  // /.container-fluid