doctype html
html
  head()
    meta(charset='utf-8')
    // include twitter bootstrap, but of course
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Node Angular Project
    // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/assets/css/app.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

    // include material icons
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

    // include angular.js and angular-ui-router.js
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js')

    // include angular storage
    script(src='/assets/js/ngStorage.js')

    // include app js
    script(src='/app.js')

  body(ng-app='app', ng-controller='appCtrl')
    // include navigation
    div(ng-include="'tpl/shared/navigation/navigationView'")
    // main content area
    div(ui-view)
    // include footer
    div(ng-include="'tpl/shared/navigation/footerView'")
    
    // jQuery
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    // Bootstrap Core JavaScript
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
