// Header
header
  .container
    .row
      .col-lg-12
        img.img-responsive(src='//giatigroup.s3.amazonaws.com/node-angular-boiler/img/profile.png', alt='')
        .intro-text
          span.name Your Project
          hr.star-light
          span.skills Node JS - Angular JS - Bootstrap