// Portfolio Grid Section
section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h2 Services
        hr.star-primary
    .row
      .col-sm-4.portfolio-item
        a.portfolio-link
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='//giatigroup.s3.amazonaws.com/node-angular-boiler/img/portfolio/cabin.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='//giatigroup.s3.amazonaws.com/node-angular-boiler/img/portfolio/cake.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='//giatigroup.s3.amazonaws.com/node-angular-boiler/img/portfolio/circus.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='//giatigroup.s3.amazonaws.com/node-angular-boiler/img/portfolio/game.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='//giatigroup.s3.amazonaws.com/node-angular-boiler/img/portfolio/safe.png', alt='')
      .col-sm-4.portfolio-item
        a.portfolio-link
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='//giatigroup.s3.amazonaws.com/node-angular-boiler/img/portfolio/submarine.png', alt='')